#p_p_id_contactdetail_WAR_contactdetailsportlet_  #main
{
	overflow: hidden;
	background-color: #F8E0E0;
} 
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #agrmntInput
{
	display: inline-block;
    float: left;
    margin-right: 10px;
    /* overflow: hidden; */
    width: 1%;
    min-width: 20px;
    margin-left: 10px;
}
	
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #agrmnt-lbl
{
	display: inline-block;
    font-style: italic;
    float: left;
    width: 93%;
}
	
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #agrmntInput input
{
	margin-top: 0px;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #form1
{
	display: inline-block;
    float: left;
    margin-left: 5%;
    width: 40%;
}
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #fnameLabel
{
	display: inline-block;
    float: left;
    width: 106px;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #fnameField
{
	display: inline-block;
    float: left;
    width: 165px;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #mnameLabel
{
	display: inline-block;
    float: left;
    width: 106px;	
	
}
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #mnameField
{
	display: inline-block;
    float: left;
    width: 165px;
}
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #lnameLabel
{
	display: inline-block;
    float: left;
    width: 106px;
	
}
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #lnameField
{
	display: inline-block;
    float: left;
    width: 165px;
}
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #form2
{
    display: inline-block;
    float: left;
    margin-left: 10%;
    width: 40%;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #emailLabel
  {
    display: inline-block;
    float: left;
    width: 106px;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #emailField
  {
    display: inline-block;
    float: left;
    width: 165px;
}
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #mobileLabel
{
 	display: inline-block;
    float: left;
    width: 106px;	
	
}
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #mobileField
{
	
	display: inline-block;
    float: left;
    width: 165px;	
}
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #cityLabel
{
	display: inline-block;
    float: left;
    width: 106px;	
	
}
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #cityField
{
	display: inline-block;
    float: left;
    width: 165px;		
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #about
{
	border-bottom: 1px solid lightgray;
    overflow: hidden;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #aboutImage
{
	background-image: url("../images/about.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    float: left;
    height: 45px;
    margin-right: 10px;
    width: 45px;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #details
{
	color: dodgerblue;
    display: inline-block;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 31px;
    padding-top: 14px;
    text-transform: uppercase;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #main
{
	background: rgba(0, 0, 0, 0) url("../images/lic-watermark.png") repeat scroll 0 0;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-top: 7px;
    overflow: hidden;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #main-innr
{
	margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 910px;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #child1
{
	margin-bottom: 15px;
    overflow: hidden;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #notes
{
	display: inline-block;
    float: left;
    height: 245px;
    margin-right: 20px;
    min-width: 180px;
    width: 20%;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #contactform
{
	display: inline-block;
    float: left;
    padding-top: 35px;
    position: relative;
    width: 77%;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #contactform input
{
	width: 150px;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #contactform select
{
	width: 165px;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #noteschild
{
	margin-left: 5px;
    margin-top: 20px;
    position: relative;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #notesimgcontainer
{
	background-image: url("../images/stickyNotes_image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 215px;
    position: absolute;
    width: 175px;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #notesgrandchild
{
	color: #004080;
    font-size: 12px;
    height: auto;
    padding: 42px 20px 25px 25px;
    position: absolute;
    width: 120px;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #agrmnt-cntnr
{
	margin-bottom: 30px;
    overflow: hidden;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #fname,
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #mname,
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #lname,
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #email,
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #mobile,
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #city
{
	margin-bottom: 10px;
    overflow: hidden;
}

#p_p_id_contactdetail_WAR_contactdetailsportlet_ #fnameLabel,
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #mnameLabel,
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #lnameLabel,
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #emailLabel,
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #mobileLabel,
#p_p_id_contactdetail_WAR_contactdetailsportlet_ #cityLabel
{
	margin-top: 3px;
}
